.align-right{
    text-align: right;
}

.error{ 
    color: red;
    font-size: 81.25%;
    font-weight: 400;
}

.form-control.error {
    color: #C93B3B;
    background-color: #fff;
    border-color: #C93B3B;
    outline: 0;
    box-shadow: 0 0 0 2px #C93B3B;
}

.alert{
    display: none;
}

.table th, .table td {
    padding: .75rem .50rem;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 5.5rem;
    transform: translateY(-50%);
    margin-top: 0;
}

.infoMensaje {
    background-color: white;
    color: black;
    display:block !important ;
}

/*#grupo_apellido_nombre {
    display: none;
}

#grupo_razon_social {
    display: none;
}*/